/*------------------------- Comienza Mi CSS ------------------------------*/

body {
    font-family: Arial;
}

header {
    padding: 30px;
    text-align: center;
    background: #007282;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
}

/*------------------ card ----------------------------*/
.contenido {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: right;
    background-color: white;
}

.card__title {
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.card__button button {
    width: 220px;
    padding: 1.3em 3em;
    font-size: 12px;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #007282;
    background-color: #fff;
    border: 2px solid #007282;
    cursor: pointer;
    outline: none;
}

.card__button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card__button button:hover {
    color: #fff;
    background-color: #007282;
    border: 2px solid #fff;
}


/*------------------ footer ----------------------------*/
footer {
    position: 0;
    padding: 30px;
    text-align: center;
    background: #007282;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/*==================Tablet / PC ==================*/
@media (min-width: 480px) {
    .card {
        width:480px;
    }

}
