.card__campo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.card__campo__label {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin-top: 15px 0 5px 0;
}

.card__campo__input {
    height: 35px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid black;
}

/*--------------------validaciones---------------------------*/
.invalid {
    border-color: red;
}

#errorMail ,#errorContrasenia{
    color: red
}

.card__mensaje_error{
    margin-bottom: 150px;
    color: red;
    border: 1px solid white;
}