/*------------------------- Comienza Mi CSS ------------------------------*/
html{
    display: flex;
    justify-content: space-around;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    border: 1px solid #000;
}

header {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #007282;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
}

/*------------------ card ----------------------------*/
.contenido {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: right;
    background-color: white;
}

.card__title {
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 20px;
    margin: 10px 10% 10px 10%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.card__button button {
    width: 220px;
    padding: 1.3em 3em;
    font-size: 12px;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #007282;
    background-color: #fff;
    border: 2px solid #007282;
    cursor: pointer;
    outline: none;
}

.card__button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card__button button:hover {
    color: #fff;
    background-color: #007282;
    border: 2px solid #fff;
}


/*------------------ footer ----------------------------*/
footer {
    text-align: center;
    margin-top: auto;
    padding: 30px;
    background: #007282;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/*================== tablet ==================*/
@media (min-width: 768px) {
    body{
        width: 768px;
    }

}

/*================== PC ==================*/
@media (min-width: 1024px) {
    body{
        width: 1024px;
    }
    .card {
        width: 768px;
    }
}
